@import "tailwindcss";

*{
  list-style: none;
  outline: none;
}

button:focus{
  outline: none;
}

select{
  background-color: #1a0c2c;
  color: white;
}

/*------------------------------------------------------------------------------------- NAV -------------------------------------------------------------*/

.nav, footer, .nav-mobile-options{
  z-index: 3;
  background-color: #23103b;
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

.settings{
   background-color: #1f0f33;
   box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

.settings > div:hover, .settings > button:hover{
  background-color: #321852 !important;
  transition: background-color .5s;
}

.logout-b:hover{
  background-color: transparent;
}

.link-profile{
  border-bottom: 1px solid white;
   border-color: #726bff;
}

/*------------------------------------------------------- REGISTER FORM --------------------------------------------*/

.register-form{
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.871);
  background: linear-gradient(135deg, #1a0c2c, #1d0b0a);
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

.productions{
  top: 40px;
}

.productions-container::-webkit-scrollbar{
  background-color: transparent !important;
  color: transparent !important;
}

.productions-container::-webkit-scrollbar-thumb{
  background-color: transparent !important;
  color: transparent !important;
}

p, label, input{
  color: #cfcfd4;
}

input{
  background-color: #18182b;
}

.home-events-container img{
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

.categories-container button, .filter-statics-button button{
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.4em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
  border-color: #2b2749;
}

.categories-container img{
  width: 40px;
  height: 40px;
}

.search-form button{
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #726bff;
}

.search-form button:hover{
  transform: translateY(-2px);
  background-color: #5b52ff;
  transition: all .3s;
}

/*------------------------------------------------------------------ HOME -------------------------------------------------------------------------------*/

.event-desc, .contact-textarea{
  background: rgba(0, 0, 0, 0.377)
}

.event-desc{
   box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75)
}

.home-events-container{
  overflow-y: scroll;
}

.home-events-container::-webkit-scrollbar{
  background-color: transparent;
  width: 5px;
}

.productions-container::-webkit-scrollbar-thumb{
  background-color: transparent;
}

/*---------------------------------------------------------------- BUY TICKET ------------------------------------------------------------------------------*/

.buy-ticket input{
  width: 280px !important;
}

/* ------------------------------------------------------------ CREATE EVENT ---------------------------------------------------------------------------*/
.create-form{
  max-width: 70vw;
  min-width: 1000px;
}

.create-event-form select{
  height: 40px;
}

.create-form input, .create-form textarea, .form-edit-event input, .email-staff, .buy-ticket input {
  border: 1px solid #302e5f;
  background-color: transparent;
  border-radius: 5px;
  padding-left: 3px;
  height: 40px;
  min-width: 400px;
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  outline: none;
}

.create-form textarea{
  height: 200px !important;
}

.create-form > div > form > div{
  margin-top: 14px;
}

.create-ticket-form input{
  width: 100%;
}

#terminos-condiciones input{
  width: 22px !important;
  height: 22px !important;
  box-shadow: none;
}

.portal-evento label{
  margin-top: 10px !important;
}

.event-img{
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

.remove-cat:hover{
    background-color: transparent;
}

.continuar-button{
  right: 0px;
  top: -7px;
  background-color: #726bff;
}

.continuar-button img{
  box-shadow:none !important;
}


/*------------------------------------------------------------------- EDITAR EVENTRO ------------------------------------------------------------------------*/

.form-edit-event h3, .add-tickets-form h3{
  color:#726bff
}

.form-edit-event button, .add-tickets-form button{
  cursor: pointer;
}

.form-edit-event div{
  margin-top: -20px;
}

.form-edit-event div > div{
  margin-top: 15px;
}

.form-edit-event input[type="file"]{
  border: transparent !important;
  background-color:#5b52ff;
  box-shadow: none;
}

.form-edit-event button{
  bottom: -60px;
}

.form-edit-ticket button{
  background-color:#5b52ff;
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

.add-tickets-form input{
  margin-top: 10px;
  margin-left: 8px;
  border: 1px solid #302e5f;
  background-color: transparent;
  border-radius: 5px;
  padding-left: 3px;
  height: 30px;
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

.ticket-img{
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}


/* ------------------------------------------------------------------------------- ENVIAR TICKETS DE CORTESIA ----------------------------------------------------------------*/

.free-ticket-cont{
  border: 1px solid #201d3d;
}

.free-ticket-cont > div button{
  background-color: #161750;
  cursor: pointer;
  outline: none;
}

.free-ticket-cont > div button:hover{
  background-color: #262785;
  transform: translateY(-2px);
  transition: all .2s;
}

.free-ticket-cont p {
  color: #aeb0c4;
}

/*----------------------------------------------------------------------------- MIS PRODUCCIONES -------------------------------------------------------------------------*/

.productions{
  max-height: 70vw !important;
}
.productions > table{
  overflow-y: scroll !important;
}

/*--------------------------------------------------------------------------------- TICKET QR ----------------------------------------------------------------------------*/


@media screen and (max-width:1375px) {
  .home{
   margin: 0 auto;
   flex-direction: column-reverse;
  }

  .home > div{
    width: 900px;
    margin: auto;
    text-align: center;
  }

  .home > div > div h1{
    margin-top: 30px;
  }

  .home-events-container{
    text-align: left;
  }

  .categories-container{
    width: 900px;
    margin: auto;
  }

  .categories-container > div{
    display: flex ;
    align-items: center;
  }

  .categories-container button{
    width: auto !important;
    background-color: #0d0b1f;
    border-color: #271649;
    font-size: 18px !important;
  }

  .categories-container img{ 
      width: 30px;
      height: 30px;
   }
   .home{
    width: 90vw;
   }
   .home-events-container{
    overflow-y: scroll;
    height: 100vh;
   }
   .home-events-container::-webkit-scrollbar{
    background-color: transparent;
   }
   .event-desc h3{
    font-size: 20px;
   }
}

@media screen and (max-width:1290px) {
  .form-edit-event button{
    position: relative;
    top: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
  }

  .add-tickets-form{
    width: 400px;
    margin: auto;
  }

  .add-tickets-form{
    margin-top: 80px !important;
  }

  .add-tickets-form button{
    margin: auto !important;
  }

  .add-tickets-form input{
    width: 100%;
    margin: auto;
  }

  .edit-form-date{
    margin-top: 10px !important;
  }

  .add-colab-form{
    justify-content: center;
  }

  .add-colab-form input{
    height: 50px;
    padding-left: 5px;
    border-radius: 10px;
    width: 250px;
  }
}

@media screen and (max-width: 1150px) {
  .home{
    width: 100vw;
    padding: 10px;
  }
}

@media screen and (max-width: 1061px) {
  .statistics-event-info > div{
    justify-content: center;
  }
}

@media screen and (max-width:1000px) {
  .create-form{
    margin: 0 auto;
    flex-direction: column-reverse;
    min-width: 90vw !important;
  }
  .create-form > div{
    margin: auto;
    margin-top: 30px;
  }
  .create-event-form input, .create-event-form textarea, .create-event-form select{
    width: 100%;
    min-width: 100%;
  }

  .continuar-button{
    position: relative !important;
    margin-top:10px ;
    transform: translateX(137%);
  }
}

@media screen and (max-width:976px) { 
  .new-cortesie button{
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .new-cortesie img{
    margin-top: 70px;
  }
}

@media screen and (max-width:950px) { 
  .home{
    padding: 15px;
  }
  .home > div{
    width: 100%;
    margin: auto;
  }

  .search-form {
   justify-content: center;
  }

  .categories-container{
    width: 90vw;
  }

  .categories-container button{
    width: 170px !important;
    background-color: #0d0b1f;
    border-color: #271649;
    font-size: 14px !important;
    margin: auto;
  }

  .statistics > div {
    display: block;
  }

  .change-statistics{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .statistics-categories p{
    font-size: 22px;
  }

  .statistics-categories button{
    font-size: 16px !important;
  }
}

@media screen and (max-width: 890px) {
  .edit-info-event{
    flex-wrap: wrap;
  }

  .edit-info-event div:nth-of-type(2){
    margin-left: -2px;
  }

  .add-tickets-form{
    width: 400px;
    margin: auto;
  }

  .add-tickets-form input{
    width: 100% !important;
    margin-left: 0 !important;
  }

  .add-tickets-form > div > div  /*deja los input precio ticket, cantidad y estado con el aspecto actual que tienen*/

  .edit-form-date{
    margin-top: 20px !important;
  }

  .price-qty-state{
    display: block;
  }

  .price-qty-state > input{
    margin-left: 0px !important;
  }

  .qty, .state{
    margin-left: 0px;
  }

  .state{
    margin-top: 12px;
  }

  .edit-tickets-container{
    display: block;
    margin: auto;
  }

  .edit-tickets-container > div{
    margin: auto;
    margin-top: 50px;
  }

  .send-back a{
    position: relative;
    margin: auto;
    right: auto;
  }

  .send-back{
    justify-content: center !important;
  }
}

@media screen and (max-width:750px) { 
  .nav > div{
    width: 100% !important;
  }
  .home{
    margin-bottom: 40px;
  }
  .home h1{
    font-size: 34px;
  }
  .search-form p{
    margin-bottom: 10px;
  }
  .categories-container > div{
    display: flex;
    flex-wrap: wrap;
  }
  .categories-container button{
    width: 170px !important;
    margin-top: 10px;
  }
  .search-form{
    display: block !important;
  }
}

@media screen and (max-width:710px) {
  .statistics-event-info > div > div{
   justify-content: center !important;
  }

  .info{
    width: 90vw !important;
    text-align: center;
  }
} 

@media screen and (max-width:700px) { 
  footer{
    display: block;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  footer img, footer > div{
    margin: auto;
  }

  footer p{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  footer > div a{
    margin: auto;
  }

  .gmail-img{
    margin-top: 7px;
  }

  .home-events-container{
    justify-content: center !important;
  }

  .buy-ticket p, .buy-ticket label{
    font-size: 16px;
  }

  .buy-button{
    font-size: 18px;
    width: 200px;
    margin-top: 50px;
  }

  .new-cortesie{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .new-cortesie h2{
    font-size: 25px;
  }

  .new-cortesie p, .new-cortesie label{
    margin-top: 10px;
    font-size: 17px;
  }

  .new-cortesie img{
    margin-top: 110px !important;
  }

  .event-img-container{
    width: 100vw;
    object-fit: fill;
    box-shadow: transparent;
  }
  
  .event-img-container img{
    height: auto !important;
    object-fit: contain;
  }
  .event-desc{
    padding: 7px;
    padding-left: 15px;
  }

  .event-desc h3{
    font-size: 18px;
  }
  .event-desc p, .event-desc label{
    font-size: 16px;
  }
}

@media screen and (max-width: 610px) {
  .create-form{
    width: 100vw;
    padding: 5px !important;
  }
  .create-form > div{
    width: 100%;
  }
  .event-img{
   width: 90vw; 
   margin: auto;
  }
  .statistics-categories{
    margin-top: 10px;
  }
  .filter-statics-button{
    flex-wrap: wrap;
    justify-content: center;
  }
  .filter-statics-button button{
    width: 200px;
    margin: 10px;
    font-size: 13px !important;
  }
  .space-text{
    font-size: 20px;
    margin-top: 10px;
  }
}

@media screen and (max-width:540px) { 
  .categories-container button{
    width: 200px !important;
  }
   .sum-rest-qty button{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width:515px) {
  .new-cortesie button{
    margin-top: 30px;
  }
}

@media screen and  (max-width:500px) {
  .evento-desc h1{
    font-size: 21px;
  }

  .evento-desc{
    padding-left: 10px;
    padding-right: 10px;
  }

  .edit-info-event{
    width: 100% !important;
  }

  .edit-info-event h3{
    font-size: 20px;
  }

  .evento-desc b, .evento-desc p{
    font-size: 17px;
  }

  .buy-ticket{
    width: 90vw;
    padding: 0 !important;
  }

  .buy-ticket img{
    width: 90vw;
  }

  .form-buy-inputs input{
    min-width: 300px !important;
  }
}

@media screen and (max-width:495px) {
  .register-form{
    width: 100%;
  }
  .register-form h2{
    font-size: 22px;
  }
  .register-form p{
    font-size: 18px;
  }
  .canvas{
    margin-bottom: 50px !important;
  }
}


@media screen and (max-width:470px) {
 .form-edit-event{
  padding: 0 !important;
 }
}

@media screen and (max-width:450px) {
   .categories-container button{
    width: 150px !important;
    font-size: 12px !important;
    padding: 10px;
  }

  #terminos-condiciones input{
    left: 130px !important;
    right: 0px !important;
  }
  .profile-container{
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0px;
  }
  .profile{
    width: 100vw;
  }

  footer p{
    font-size: 16px;
  }

  .register-form{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .register-form p, .register-form a, .register-form button {
    font-size: 14px;
  }

  .login-b{
    font-size: 17px !important;
  }
}