@import "tailwindcss";

*{
  list-style: none;
  outline: none;
}

button:focus{
  outline: none;
}

/*------------------------------------------------------------------------------------- NAV -------------------------------------------------------------*/

.nav, footer, .nav-mobile-options{
  z-index: 3;
  background-color: #ffffff;
  box-shadow: 2px 1px 5px 0px rgba(92, 92, 92, 0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(92, 92, 92, 0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(92, 92, 92, 0.75);
}

.settings{
   background-color: #1f0f33;
   box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

.settings > div:hover, .settings > button:hover{
  background-color: #321852 !important;
  transition: background-color .5s;
}

.logout-b:hover{
  background-color: transparent;
}

.link-profile{
  border-bottom: 1px solid white;
   border-color: #726bff;
}

/*------------------------------------------------------- REGISTER FORM --------------------------------------------*/

.register-form{
  color-scheme: light dark;
  color: #111827;
  background: #ffffff;
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

.register-form input, .register-form textarea{
  background-color: #f7f7f7;
}

.register-form input::placeholder , .register-form textarea::placeholder{
  color: #111827 !important;
}

.productions{
  top: 40px;
}

.productions-container::-webkit-scrollbar{
  background-color: transparent !important;
  color: transparent !important;
}

.productions-container::-webkit-scrollbar-thumb{
  background-color: transparent !important;
  color: transparent !important;
}

 .filter-statics-button button{
  border: 1px solid #e0e0e0;
  cursor: pointer;
  transition: all 0.25s;
}


/*------------------------------------------------------------------ HOME -------------------------------------------------------------------------------*/
.events-and-categories{
  overflow-y: scroll;
  overflow-x: hidden;
}
.events-and-categories::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
}

.events-and-categories::-webkit-scrollbar-thumb{
 background-color: transparent;
}

/*---------------------------------------------------------------- BUY TICKET ------------------------------------------------------------------------------*/

.buy-ticket input{
  width: 280px !important;
}

/* ------------------------------------------------------------ CREATE EVENT ---------------------------------------------------------------------------*/

.create-event-form select, .create-event-form input, .create-event-form textarea, .create-new-ticket input, .create-new-ticket select, .imgTicketHtml-label{
  border: 1px solid #f4f5f7;
  border-radius: 12px;
  background-color: transparent;
  padding: 10px;
  width: 90%;
  margin-bottom: 10px;
}

/*------------------------------------------------------------------- EDITAR EVENTRO ------------------------------------------------------------------------*/

.edit-info-event > div{
  margin-top: 30px;
  width: 100%;
}

.edit-info-event > div > div input, .edit-info-event select, .tickets-desc-container, .add-tickets-form input, .add-tickets-form select, .add-colab-form input{
  border:1px solid #e0e0e0;
  border-radius: 15px;
  padding: 15px;
  background-color: transparent;
}

.form-edit-event > div > div > div{
  margin-top: 13px;
}

.form-edit-event input, .form-edit-event select{
  width: 100% !important;
}

.form-edit-event > div > div label{
  color: #6B7280 !important;
}


.form-edit-ticket button{
  background-color:#5b52ff;
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

.abc{
  background-color: black;
  z-index: 4;
  opacity: .5;
}

.add-tickets-form{
  z-index: 4;
  background: white;
  background-size: cover;
  height: 540px;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #111827 !important;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

.add-tickets-form::-webkit-scrollbar, .tickets-edit-prod::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
}

.add-tickets-form::-webkit-scrollbar-thumb, .tickets-edit-prod::-webkit-scrollbar-thumb{
  background-color: #b4b4b4;
}

.add-tickets-form input{
  width: 100%;
  background-color: transparent;
}

.ticket-img{
  box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}


/* ------------------------------------------------------------------------------- ENVIAR TICKETS DE CORTESIA ----------------------------------------------------------------*/

.free-ticket-cont{
  border: 1px solid #201d3d;
}

.free-ticket-cont > div button{
  background-color: #161750;
  cursor: pointer;
  outline: none;
}

.free-ticket-cont > div button:hover{
  background-color: #262785;
  transform: translateY(-2px);
  transition: all .2s;
}

.free-ticket-cont p {
  color: #aeb0c4;
}

/*----------------------------------------------------------------------------- MIS PRODUCCIONES -------------------------------------------------------------------------*/

.productions{
  max-height: 70vw !important;
}
.productions > table{
  overflow-y: scroll !important;
}

/*--------------------------------------------------------------------------------- TICKET QR ----------------------------------------------------------------------------*/

@media screen and (max-width:1290px) {
  .form-edit-event button{
    position: relative;
    top: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
  }

  .add-tickets-form{
    width: 400px;
    margin: auto;
  }

  .add-tickets-form{
    margin-top: 80px !important;
  }

  .add-tickets-form button{
    margin: auto !important;
  }

  .add-tickets-form input{
    width: 100%;
    margin: auto;
  }

  .edit-form-date{
    margin-top: 10px !important;
  }

  .edit-info-event{
    margin-bottom: 60px;
  }

  .add-colab-form{
    justify-content: center;
  }

  .send-back{
    justify-content: center;
  }

  .send-back a{
    position: relative;
    right: 0;
  }

  .open-add-ticket-form{
    margin: auto;
  }

  .act-evt-button{
    font-size: 18px;
    width: 270px;
    border-radius: 7px;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
  }
}

/*--------------------------------------------------------------------- ESTADISTICAS -------------------------------------------------------*/
.statistics, .info{
border: 1px solid #e0e0e0;
}
.info{
  height: 140px;
}

@media screen and (max-width: 1061px) {
  .statistics-event-info > div{
    justify-content: center;
  }

}

@media screen and (max-width:1000px) {
  .create-form{
    margin: 0 auto;
    flex-direction: column-reverse;
    min-width: 90vw !important;
  }
  .create-form > div{
    margin: auto;
    margin-top: 30px;
  }
  .create-event-form input, .create-event-form textarea, .create-event-form select{
    width: 100%;
    min-width: 100%;
  }

  .continuar-button{
    position: relative !important;
    margin-top:10px ;
    transform: translateX(137%);
  }
}

@media screen and (max-width:976px) { 
  .new-cortesie button{
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .new-cortesie img{
    margin-top: 70px;
  }
}

@media screen and (max-width:950px) { 

  .statistics > div {
    display: block;
  }

  .change-statistics{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .statistics-categories p{
    font-size: 22px;
  }

  .statistics-categories button{
    font-size: 16px !important;
  }
}

@media screen and (max-width: 890px) {
  .edit-info-event{
    flex-wrap: wrap;
  }

  .edit-info-event div:nth-of-type(2){
    margin-left: -2px;
  }

  .add-tickets-form{
    width: 400px;
    margin: auto;
  }

  .add-tickets-form input{
    width: 100% !important;
    margin-left: 0 !important;
  }

  .add-tickets-form > div > div  /*deja los input precio ticket, cantidad y estado con el aspecto actual que tienen*/

  .edit-form-date{
    margin-top: 20px !important;
  }

  .price-qty-state{
    display: block;
  }

  .price-qty-state > input{
    margin-left: 0px !important;
  }

  .qty, .state{
    margin-left: 0px;
  }

  .state{
    margin-top: 12px;
  }

  .edit-tickets-container{
    display: block;
    margin: auto;
  }

  .edit-tickets-container > div{
    margin: auto;
    margin-top: 50px;
  }

  .send-back a{
    position: relative;
    margin: auto;
    right: auto;
  }

  .send-back{
    justify-content: center !important;
  }
}

@media screen and (max-width: 790px) {
.edit-prod-container{
  padding: 0px;
}
  .add-colab-form{
    margin-bottom: 20px;
  }

  .send-back{
    height: 270px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .send-back a{
    width: 300px;
  } 
}

@media screen and (max-width:750px) { 
  .nav > div{
    width: 100% !important;
  }
 
}

@media screen and (max-width:710px) {
  .statistics-event-info > div > div{
   justify-content: center !important;
  }

  .info{
    width: 90vw !important;
    text-align: center;
  }
} 

@media screen and (max-width:700px) { 
  footer{
    display: block;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  footer img, footer > div{
    margin: auto;
  }

  footer p{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  footer > div a{
    margin: auto;
  }

  .gmail-img{
    margin-top: 7px;
  }

  .buy-ticket p, .buy-ticket label{
    font-size: 16px;
  }

  .buy-button{
    font-size: 18px;
    width: 200px;
    margin-top: 50px;
  }

  .new-cortesie{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .new-cortesie h2{
    font-size: 25px;
  }

  .new-cortesie p, .new-cortesie label{
    margin-top: 10px;
    font-size: 17px;
  }

  .new-cortesie img{
    margin-top: 110px !important;
  }
}

@media screen and (max-width: 610px) {
  .create-form{
    width: 100vw;
    padding: 5px !important;
  }
  .create-form > div{
    width: 100%;
  }
  .statistics-categories{
    margin-top: 10px;
  }
  .filter-statics-button{
    flex-wrap: wrap;
    justify-content: center;
  }
  .space-text{
    font-size: 20px;
    margin-top: 10px;
  }
  .send-back{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .send-back a{
    justify-content: center;
    
  }

}

@media screen and (max-width:540px) { 
   .sum-rest-qty button{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width:515px) {
  .new-cortesie button{
    margin-top: 30px;
  }
}

@media screen and  (max-width:500px) {
  .evento-desc h1{
    font-size: 21px;
  }

  .evento-desc{
    padding-left: 10px;
    padding-right: 10px;
  }

  .edit-info-event{
    width: 100% !important;
  }

  .edit-info-event h3{
    font-size: 20px;
  }

  .evento-desc b, .evento-desc p{
    font-size: 17px;
  }

  .buy-ticket{
    width: 90vw;
    padding: 0 !important;
  }

  .buy-ticket img{
    width: 90vw;
  }

  .form-buy-inputs input{
    min-width: 300px !important;
  }
}

@media screen and (max-width:495px) {
  .edit-info-event, .edit-info-event > div > div, .add-tickets-form{
    width: 90vw !important;
    margin: auto !important;
  }
  .edit-info-event > div > div input, .edit-info-event > div > div input[type="file"]{
    min-width: 100% !important;
    width: 100% !important;
  }
  .register-form{
    width: 100%;
  }
  .register-form h2{
    font-size: 22px;
  }
  .register-form p{
    font-size: 18px;
  }
  .canvas{
    margin-bottom: 50px !important;
  }
  .prov-localidad{
    padding: 25px;
  }
  .prov-localidad select{
    margin-bottom: 10px;
  }
  .add-colab-form{
    flex-wrap: wrap;
  }
  .add-colab-form input{
    width: 70vw;
  }
  .add-colab-form button{
    background-color: transparent;
    margin-top: 10px;
  }
}


@media screen and (max-width:470px) {
 .form-edit-event{
  padding: 0 !important;
 }

}

@media screen and (max-width:450px) {

  #terminos-condiciones input{
    left: 130px !important;
    right: 0px !important;
  }
  .profile-container{
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0px;
  }
  .profile{
    width: 100vw;
  }
  footer p{
    font-size: 16px;
  }
  .register-form{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .register-form p, .register-form a, .register-form button {
    font-size: 14px;
  }
  .login-b{
    font-size: 17px !important;
  }
  .prov-localidad{
    flex-wrap: wrap;
    text-align: center;
  }
  .prov-localidad > div{
    width: 100%;
    margin-top: 0px !important;
  }
  .prov-localidad > div select{
    padding: 8px;
  }
  .act-evt-button{
    margin-bottom: 70px !important;
  }
}